
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<br />

<a asp-action="Create">Create Employee</a>

<table>
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Salary</td>
    </tr>

    @foreach(var x in Model)
    {
        <tr>
            <td>@x.Id</td>
            <td>@x.Name</td>
            <td>@x.salary</td>

            <td>
                <a asp-action="Delete" asp-route-id ="@x.Id">Delete</a>
            </td>

            <td>
                <a asp-action="Update" asp-route-id="@x.Id">Update</a>
            </td>
        </tr>
    }
</table>
